# LINE Bot Configuration
CHANNEL_ACCESS_TOKEN=HfyZBXK1AOUCYKS8+LYOJP9BP4n/mXQM3HHtpmFPGeAO731OqmCih+OCqVdlGWSnx9bqq7UvjIl1wq3cNXKyewbHxrXghxmkhCfPWR3sMBhQXb9hqhB48kq6XC+ecqvRy0dcu2oXtI+vtvUvC3MSwAdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET=0aa9d4d7cda0866949b910ffae506b53
GROUP_ID=C71b4a96977db997ae431e4c73720230f

# Google Drive Skip Dates File (optional)
SKIP_DATES_FILE_ID=1pJVOTzBKGqBoZMHJmxZw3mbzhd495FK9

# Server Configuration  
PORT=3000